.sidebar-left-form {
  margin-top: 22px;
  background: $background-sidebar-color;
  padding: 27px 20px 21px;

  h4 {
    font-size: 18pt;
    font-weight: bold;
  }

  .line {
    margin-top: 23px;
    width: 66px;
    height: 1px;
    background: url('../images/line.png') no-repeat;
    display: block;
  }

  .form-book-schedule {
    margin-top: 19px;
    box-sizing: border-box;

    .input-left-sidebar {
      width: 100%;
      height: 40px;
      padding: 0 10px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border: none;
      outline: none;
    }
  }
}
