.icon-search {
  width: 17px;
  height: 17px;
  float: left;
  background: url('../images/icon-search.png') no-repeat;
}

.icon-mail {
  width: 26px;
  height: 20px;
  margin: 0 auto;
  background: url('../images/icon-mail.png') no-repeat;
  display: block;
}

.icon-phone {
  width: 32px;
  height: 32px;
  background: url('../images/icon-phone.png') no-repeat;
  display: inline-block;
}

.icon-s {
  width: 32px;
  height: 32px;
  background: url('../images/icon-s.png') no-repeat;
  display: inline-block;
}

.icon-fb {
  width: 24px;
  height: 24px;
  background: url('../images/icon-fb.png') no-repeat;
  display: inline-block;
}

.icon-ggplus {
  width: 24px;
  height: 24px;
  background: url('../images/icon-ggplus.png') no-repeat;
  display: inline-block;
}

.icon-tw {
  width: 24px;
  height: 24px;
  background: url('../images/icon-tw.png') no-repeat;
  display: inline-block;
}

.icon-yt {
  width: 24px;
  height: 24px;
  background: url('../images/icon-yt.png') no-repeat;
  display: inline-block;
}

.hotel-poin {
  width: 82px;
  height: 14px;
  background: url('../images/star.png') no-repeat;
  display: inline-block;
}

.icon-menu {
  width: 24px;
  height: 24px;
  background: url('../images/menu.png') no-repeat;
  display: inline-block;
}
