%icon-social-shared {
  width: 24px;
  height: 24px;
  display: inline-block;
}

%buton-shared {
  width: 40%;
  height: 44px;
  text-transform: uppercase;
  background: $button-color;
  color: #fff;
  box-sizing: border-box;
}
